<header>
    <div class="container-hero">
        <div class="container hero">
            <div class="search-container">
                <div class="search-box">
                    <input type="text" placeholder="Buscar productos">
                    <i class="fa-solid fa-search search-icon"></i>
                </div>
            </div>

            <div class="container-logo">

                <h1 class="logo"><img src="assets/CLOCHCYCLE.gif" width="100" height="100"><a href="/"></a></h1>
            </div>

            <div class="container-user">
                <a href="PerfilHistorial.html"> <!-- Archivo HTML para el icono de usuario -->
                    <i class="fa-solid fa-user"></i>
                </a>
                <a href="Carrito de Compras.html"> <!-- Archivo HTML para el icono del carrito -->
                    <i class="fa-solid fa-basket-shopping"></i>
                </a>
                <div class="content-shopping-cart">
                    <span class="text">Carrito</span>
                    <span class="number">(0)</span>
                </div>
            </div>

        </div>
    </div>

    <div class="container-navbar">
        <nav class="navbar container">
            <i class="fa-solid fa-bars"></i>
            <ul class="menu">
                <li><a href="InicioCuenta.html">Inicio</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Poleras y sudaderas</a></li>
                <li><a href="#">Supreve</a></li>
                <li><a href="#">ApoloGod</a></li>
                <li><a href="#">Mas</a></li>
            </ul>
            <div class="container-user">
                <a href="PaginaInicio.html">
                    <i class="fa-solid fa-right-from-bracket" style="font-size: 2rem; color: #fcfcfc;"></i>
                </a>
            </div>
        </nav>
    </div>
</header>
<section class="banner">
    <div class="content-banner">
        <h2>AHORRA Y COMPRA</h2>
    </div>
</section>

<main class="main-content">
    <section class="container container-features">
        <div class="card-feature">
            <i class="fa-solid fa-plane-up"></i>
            <div class="feature-content">
                <span>Envío gratuito a nivel mundial</span>
                <p>En pedido superior a $150</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-wallet"></i>
            <div class="feature-content">
                <span>Contrareembolso</span>
                <p>100% seguro y confiable</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-gift"></i>
            <div class="feature-content">
                <span>Tarjeta regalo especial</span>
                <p>Ofrece bonos especiales con regalo</p>
            </div>
        </div>
        <div class="card-feature">
            <i class="fa-solid fa-headset"></i>
            <div class="feature-content">
                <span>Servicio al cliente 24/7</span>
                <p>LLámenos 24/7 al 123-456-7890</p>
            </div>
        </div>
    </section>

    <section class="container top-products">
        <h1 class="heading-1"> TIENDA PRODUCTOS ☻</h1>

         <div class="container-products">
        <!-- Producto 1 -->
        <div class="card-product">
            <div class="container-img">
                <img src="assets/APOLO SPIDER-MAN.png" alt="Cafe incafe-ingles.jpg" />
            </div>
            <div class="content-card-product">
                <div class="stars"></div>
                <h3>APOLOZZ</h3>
                <span class="add-cart">
                    <a href="/">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                </span>
                <p class="price">S/. 189.00 PEN</p>
            </div>
        </div>

             <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/enterizo.jpg" alt="Cafe incafe-ingles.jpg" />
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>APOLOZZ</h3>
                    <span class="add-cart">
                        <a href="DetallesProductos.html">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </a>
                    </span>
                    <p class="price">S/. 189.00 PEN</p>
                </div>
            </div>
            <!--  -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/POLO-BLANCO.jpg" alt="Cafe incafe-ingles.jpg" />
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>APOLOZZ</h3>
                    <span class="add-cart">
                        <a href="DetallesProductos.html">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </a>
                    </span>
                    <p class="price">S/. 189.00 PEN</p>
                </div>
            </div>
            <!--  -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/pantalon-drill-con-doble-cinta.jpg" alt="Cafe Helado" />
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>SATISFACTION TEE</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">S/. 119.00 PEN</p>
                </div>
            </div>
        </div>
    </section>
    <section class="container specials">
        <h1 class="heading-1"> ↓↓ </h1>
    
        <div class="container-products">
            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/blackdb.jpg" alt="Hoodie Empty Negro" />
                    <div class="button-group"></div>
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>Hoodie Empty Negro</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">S/. 129.00 PEN </p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/APOLO SPIDER-MAN.png" alt="Nike Panda" />
                    <div class="button-group"></div>
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>Nike Panda</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">S/. 115.00 PEN </p>
                </div>
            </div>
            <!-- Producto 3 -->
            <div class="card-product">
                <div class="container-img">
                    <!-- Coloca la ruta correcta de la imagen -->
                    <img src="assets/317,width=300,height=300,backgroundColor=f2f2f2.jpg" alt="XOXO" />
                    <div class="button-group"></div>
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>XOXO</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">S/. 125.00 PEN </p>
                </div>
            </div>
            <!-- Producto 4 -->
            <div class="card-product">
                <div class="container-img">
                    <!-- Coloca la ruta correcta de la imagen -->
                    <img src="assets/16636776846838.png" alt="PALM ANGELS Black Pool Slides" />
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>PALM ANGELS Black Pool Slides</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">S/. 98.00 PEN</p>
                </div>
            </div>
        </div>
    </section>
</main>
<section class="banner">
    <div class="content-banner">
        <h2>VISTE Y VENDE</h2>
    </div>
</section>
<main class="main-content">
    <section class="container top-products">
        <h1 class="heading-1"> ☻</h1>

        <div class="container-products">
            <!-- Producto 1 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/polera3.jpg" alt="Apolo420 Hoodie - Green" />
                    <div class="button-group"></div>
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>APOLO420 Hoodie - Green</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">S/. 160.00 PEN </p>
                </div>
            </div>
            <!-- Producto 2 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/polera1.jpg" alt="APOLOZZ" />
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>APOLOZZ</h3>
                    <span class="add-cart">
                        <a href="DetallesProductos.html">
                            <i class="fa-solid fa-basket-shopping"></i>
                        </a>
                    </span>
                    <p class="price">S/. 189.00 PEN </p>
                </div>
            </div>
            <!-- Producto 3 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/polera3.jpg" alt="STORE BLACK HOODIE" />
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>STORE BLACK HOODIE</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">S/. 259.00 PEN</p>
                </div>
            </div>
            <!-- Producto 4 -->
            <div class="card-product">
                <div class="container-img">
                    <img src="assets/polera2.jpg" alt="SATISFACTION TEE" />
                    <div class="button-group"></div>
                </div>
                <div class="content-card-product">
                    <div class="stars"></div>
                    <h3>SATISFACTION TEE</h3>
                    <span class="add-cart">
                        <i class="fa-solid fa-basket-shopping"></i>
                    </span>
                    <p class="price">S/. 119.00 PEN</p>
                </div>
            </div>
        </div>
    </section>
    <!-- PR -->
</main>
<section class="container specials">
    <h1 class="heading-1"> ↓↓ </h1>

    <div class="container-products">
        <!-- Producto 1 -->
        <div class="card-product">
            <div class="container-img">
                <img src="assets/APOLO SPIDER-MAN.png" alt="Hoodie Empty Negro" />
                <div class="button-group"></div>
            </div>
            <div class="content-card-product">
                <div class="stars"></div>
                <h3>Hoodie Empty Negro</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">S/. 129.00 PEN </p>
            </div>
        </div>
        <!-- Producto 2 -->
        <div class="card-product">
            <div class="container-img">
                <img src="assets/APOLO SPIDER-MAN.png" alt="Nike Panda" />
                <div class="button-group"></div>
            </div>
            <div class="content-card-product">
                <div class="stars"></div>
                <h3>Nike Panda</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">S/. 115.00 PEN </p>
            </div>
        </div>
        <!-- Producto 3 -->
        <div class="card-product">
            <div class="container-img">
                <!-- Coloca la ruta correcta de la imagen -->
                <img src="assets/cupido.jpg" alt="XOXO" />
                <div class="button-group"></div>
            </div>
            <div class="content-card-product">
                <div class="stars"></div>
                <h3>XOXO</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">S/. 125.00 PEN </p>
            </div>
        </div>
        <!-- Producto 4 -->
        <div class="card-product">
            <div class="container-img">
                <!-- Coloca la ruta correcta de la imagen -->
                <img src="assets/xoxo.jpg" alt="PALM ANGELS Black Pool Slides" />
            </div>
            <div class="content-card-product">
                <div class="stars"></div>
                <h3>PALM ANGELS Black Pool Slides</h3>
                <span class="add-cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                </span>
                <p class="price">S/. 98.00 PEN</p>
            </div>
        </div>
    </div>
</section>
